<div id="game">
  <script type="text/javascript">
  var game = new Phaser.Game(1500, 400, Phaser.CANVAS, "game", { preload: preload, create: create, update: update, render: render });


  </script>
</div>